@import '../general/colors';

@mixin highlight {
  background-color: $highlight;
  color: $black;

  .hl1 {
    color: $black;
  }
  .hl2 {
    color: $black;
  }
  .hl3 {
    color: $black;
  }
  .copy {
    color: $black;
  }
}
