@import '../general/colors';

@mixin light {
  background-color: $white;
  color: $black;
  -webkit-text-stroke-color: $black;

  .hl1, .hl3 {
    color: $black;
  }
  .hl2 {
    color: $blue;
  }
  .copy {
    color: $grey;
  }
  .link {
    color: $black;
    &:hover {
      border-bottom: solid 2px $blue;
    }
  }
  .footer {
    a{
      &:hover{
      color: $black;
      }
    }
  }
}