@import 'general/typography';
@import 'general/colors';

@import 'themes/dark';
@import 'themes/light';


$base-font: 16px;
$footer-height: 8rem;


body {
  font-size: $base-font;
  background-color: $black;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  animation: fadeInAnimation ease 1s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
  } 
} 

.dark {
  @include dark;
}

.light {
  @include light;
}

.section-home, .section-text, .section-text-left, .section-text-right {
  height: auto;
  padding: 0 12vw 0 12vw;
}

.link {
  color: $white;
  text-decoration: none;
  border-bottom: solid 2px transparent;
  transition: all .5s;
  &:hover {
    border-bottom: solid 2px $pink;
    transition: all .5s;
  }
}

.image {
  height: 100%;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-image {
  height: 100%;
  opacity: 0;
  margin-left: 12vw;
}

.section-text {
  padding-top: 4rem;
  padding-bottom: 5rem;
  transition: opacity .4s,filter .4s,-webkit-filter .4s;
}

.section-intro {
  padding-top: 8rem;
}

.section-cover {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.section-work {
  display: flex;
  flex-wrap: wrap;
  padding-left: 12vw;
  padding-right: 12vw;
} 

.project-teaser {
  height: 25vh;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  
  &:hover .project-label {
    opacity: 1;
    transition: all .5s;
  }
  &:hover ::after {
    opacity: 1;
    transition: all .5s;
  }
}

video {
  height: 75vh;
  width: 100%;
  display: block;
  position: relative;
  object-fit: cover;
}

.section-text-left {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  .text-left {
    width: calc(50% - 2.5rem);
    display: flex;
    height: auto;
    margin-bottom: 5rem;
    flex-direction: column;
    justify-content: center;
    padding-right: 5%;
  }
  .square-right {
    width: calc(50% - 2.5rem);
    display: flex;
    height: auto;
    margin-bottom: 5rem;
    
  }
  .image-right {
    height: 100%;
    width: 100%;
    display: block;
    }
}

.section-text-right {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  .text-right {
    width: calc(50% - 2.5rem);
    display: flex;
    height: auto;
    margin-bottom: 5rem;
    flex-direction: column;
    justify-content: center;
  }
  .square-left {
    width: calc(50% - 2.5rem);
    display: flex;
    height: auto;
    margin-bottom: 5rem;
    padding-right: 5%;
    
  }
  .image-left {
    height: 100%;
    width: 100%;
    display: block;
    }
}

@media only screen and (max-width: 800px) {
  .section-text-left {
    flex-wrap: wrap;
    flex-direction: unset;
    justify-content: space-between;
  
    .text-left {
      width: 100%;
      min-height: 20vh;
      margin-bottom: 3rem;
    }
    .square-right {
      width: 100%;
      height: auto; 
    }
    .image-right {
      height: 100%;
      width: 76vw;
      }
    }

  .section-text-right {
    flex-wrap: wrap;
    flex-direction: unset;
    justify-content: space-between;
    
    .text-right {
      width: 100%;
      min-height: 20vh;
      margin-bottom: 5rem;
      }
    .square-left {
      width: 100%;
      height: auto;
      margin-bottom: 3rem;
 
      }
    .image-left {
      height: 100%;
      width: 76vw;
        }
      }
}
@media only screen and (max-width: 700px) {
  .background-image {
    width: 76vw;
    position: absolute;
    top: 50vh;
    transform: translateY(calc(-50% - 48px));
  }
  video {
    height: 50vh;
  }
}
