@import 'general/typography';
@import 'general/colors';

@import 'themes/dark';
@import 'themes/light';
@import 'themes/highlight';


$base-font: 16px;
$footer-height: 8rem;


body {
  font-size: $base-font;
  background-color: $black;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  animation: fadeInAnimation ease 1s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
  } 
} 

.dark {
  @include dark;
}

.light {
  @include light;
}

.highlight {
  @include highlight;
}  

// ::-webkit-scrollbar {
//   width: 4px;
// }

// ::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 5px $grey; 
//   border-radius: 10px;
// }
 
// ::-webkit-scrollbar-thumb {
//   background: $highlight;
//   border-radius: 10px;
// }

.section-home, .section-text, .section-text-left, .section-text-right, .section-next {
  height: auto;
  padding: 0 12vw 0 12vw;
}

.link {
  color: $grey;
  text-decoration: none;
  border-bottom: solid 2px $white;
  transition: all .5s;
  &:hover {
    border-bottom: solid 2px $highlight;
    transition: all .5s;
  }
}

.image {
  height: 100%;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.line {
  width: 100%;
  height: 1px;
  opacity: .2;
  z-index: 0;
}

.dot-small {
  height: 4px;
  width: 4px;
  background-color: $highlight;
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.125rem;
}

.section-text {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.section-image {
  padding-top: 0;
  padding-bottom: 5rem;
}

.section-intro {
  padding-top: 8rem;
}

.section-cover {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.section-work {
  display: flex;
  flex-wrap: wrap;
  padding-left: 12vw;
  padding-right: 12vw;
}

.section-video {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.project-teaser {
  height: 21vh;
  width: 100%;
  display: block;
  position: relative;
  text-decoration: none;
  padding-top: 6vh;
  
  &:hover .project-label {
    opacity: 1;
    transition: all .5s;
  }
  &:hover ::after {
    opacity: 1;
    transition: all .5s;
  }
  &:hover .project-img {
    opacity: 1;
    transform: translate3d(calc(-100% + 8vw),-12%,0) rotate3d(0,0,0,0deg);
    transition: all .5s;
  }
}

.project-img {
	pointer-events: none;
	position: absolute;
	height: 50vh;
	max-height: 500px;
  opacity: 0;
	left: 60vw;
  top: -25%;
  z-index: 1;
  transform: translate3d(calc(-100% + 16vw),-12%,0) rotate3d(0,0,0,0deg);
  mix-blend-mode: difference;
}

.section-next {
  padding: 4rem 12vw 4rem 12vw;
  display: block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
}

.project-next {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  
  &:hover .project-label {
    opacity: 1;
    transition: all .5s;
  }
  &:hover ::after {
    opacity: 1;
    transition: all .5s;
  }
} 

video {
  height: 75vh;
  width: 100%;
  display: block;
  position: relative;
  object-fit: cover;
}

.section-text-left {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  .text-left {
    width: calc(50% - 2.5rem);
    display: flex;
    height: auto;
    margin-bottom: 5rem;
    flex-direction: column;
    padding-right: 5%;
  }
  .square-right {
    width: calc(50% - 2.5rem);
    display: flex;
    height: auto;
    margin-bottom: 5rem;
    
  }
  .image-right {
    height: 100%;
    width: 100%;
    display: block;
    }
}

.section-text-right {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  .text-right {
    width: calc(50% - 2.5rem);
    display: flex;
    height: auto;
    margin-bottom: 5rem;
    flex-direction: column;
  }
  .square-left {
    width: calc(50% - 2.5rem);
    display: flex;
    height: auto;
    margin-bottom: 5rem;
    padding-right: 5%;
    
  }
  .image-left {
    height: 100%;
    width: 100%;
    display: block;
    }
}

@media only screen and (max-width: 800px) {
  .section-text-left {
    flex-wrap: wrap;
    flex-direction: unset;
    justify-content: space-between;
  
    .text-left {
      width: 100%;
      min-height: 20vh;
      margin-bottom: 3rem;
    }
    .text-right {
      width: 100%;
      margin-bottom: 3rem;
      }
    .square-right {
      width: 100%;
      height: auto; 
    }
    .image-right {
      height: 100%;
      width: 76vw;
      }
    }

  .section-text-right {
    flex-wrap: wrap;
    flex-direction: unset;
    justify-content: space-between;
    
    .text-right {
      width: 100%;
      min-height: 20vh;
      margin-bottom: 5rem;
      }
    .square-left {
      width: 100%;
      height: auto;
      margin-bottom: 3rem;
 
      }
    .image-left {
      height: 100%;
      width: 76vw;
        }
      }
}
@media only screen and (max-width: 700px) {
  .background-image {
    width: 76vw;
    position: absolute;
    top: 50vh;
    transform: translateY(calc(-50% - 48px));
  }
  video {
    height: 50vh;
  }

.project-teaser {
    height: 15vh;
    width: 100%;
    display: block;
    position: relative;
    text-decoration: none;
    padding-top: 4vh;
    
    &:hover .project-label {
      opacity: 1;
    }
    &:hover .project-img {
      opacity: 0;
      transform: translate3d(calc(-120%),20%,0) rotate3d(0,0,0,0deg);
    }
}

  .project-img {
    height: 15vh;
    max-height: 500px;
    opacity: 0;
    transform: translate3d(calc(-120%),20%,0) rotate3d(0,0,0,0deg);
    left: 98vw;
    top: 0;
    z-index: 1;
    mix-blend-mode: difference;
  }
}
