$transparent: transparent;
$black: #000000;
$darkgrey: #333333;
$white: #ffffff;
$grey: #8d8d8d;
$blue: #000aff;
$yellow: #F8E71C;
$pink: #f9cdcd;
$purple: #8338ec;
$lime: #00ff00;
$red: #ff0000;
$highlight: $yellow;