$transparent: transparent;
$black: #000000;
$darkgrey: #767676;
$white: #ffffff;
$grey: #8d8d8d;
$blue: #000aff;
$yellow: #FFFF00;
$pink: #f9cdcd;
$purple: #8338ec;
$lime: #00ff00;
$highlight: #ff0000;