@import '../general/colors';



@font-face {
  font-family: 'Soehne';
  src:  url('http://www.maxwebline.de/webfonts/soehne/soehne-test-buch.woff') format('woff');
  font-weight: 400;
}
@font-face {
    font-family: 'Soehne';
    src:  url('http://www.maxwebline.de/webfonts/soehne/soehne-test-halbfett.woff') format('woff');
    font-weight: 600;
}

.hlintro {
  font-family: 'Soehne', sans-serif;
  font-size: 22vw;
  font-weight: 600;
  letter-spacing: 30px;
  color: $white;
  opacity: 1;
  -webkit-text-stroke-color: $white;

  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  animation: fadeInAnimation ease .5s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards;

  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translateY(-50%) translateX(calc(-50% + 20px));
  text-align: center;
  z-index: 1;
}

.hlname {
  font-family: 'Soehne', sans-serif;
  font-size: 5vw;
  font-weight: 600;
  letter-spacing: 0px;
  color: $white;
  opacity: 1;
  white-space: nowrap;
  animation: fadeInAnimation ease .5s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards;

  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translateY(-50%) translateX(calc(-50% + 20px));
  text-align: center;
  z-index: 1;
}

.hl1 {
  font-family: 'Soehne', sans-serif;
  font-weight: 600;
  font-size: 14vmin;
  line-height: calc(1ex / 0.48);
  margin-top: 0;
  margin-bottom: 0;
  width: 75%;
  &::selection {
    background-color: $highlight;
  } 
}

.hl2 {
  font-family: 'Soehne', sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: 0.5px;
  margin-top: 0;
  margin-bottom: 0.75rem;
  &::selection {
    background-color: $highlight;
  } 
}

.hl3 {
  font-family: 'Soehne', sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  letter-spacing: 0.5px;
  margin-top: 0;
  margin-bottom: 0;

  &::selection {
    background-color: $highlight;
  } 
}

.copy {
  font-family: 'Soehne', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: 0.2px;
  line-height: calc(1ex / 0.32);
  margin-top: 0;
  margin-bottom: 0;
  max-width: 800px;
  &::selection {
    background-color: $highlight;
  } 
}

.quote {
  font-family: 'Soehne', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.2px;
  line-height: calc(1ex / 0.32);
  margin-top: 0;
  margin-bottom: 0;
  &::selection {
    background-color: $highlight;
  } 
}

.project-label {
  font-family: 'Soehne', sans-serif;
  font-weight: 600;
  font-size: 6vmin;
  line-height: calc(1ex / 0.36);
  opacity: 0.5;
  margin-top: 0.25rem;
  z-index: 3;

  &::after {
    content: "\2B62";
    margin-left: 0.5rem;
    opacity: 0;
    z-index: 3;
  }
}

@media only screen and (max-width: 700px) {
  .hlintro {
    font-size: 20vw;
    font-weight: 600;
    letter-spacing: 10px;
  
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;

    transform: translateY(calc(-50% - 48px)) translateX(calc(-50% + 6px));

  }

  .hlname {
    font-size: 10vw;
    font-weight: 600;
    letter-spacing: 0px;
    transform: translateY(calc(-50% - 48px)) translateX(calc(-50% + 6px));

  }

  .copy {
    font-size: 1.125rem;
  }
  .project-label {
    opacity: 1;
  
    &::after {
      opacity: 1;
    }
  }
}
